<!doctype html>
<html lang="en-US">
  <head>
    <title>Picture Viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon1.ico" type="image/x-icon" />
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.min.css">
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendor/angularjs/angular.min.js"></script>
    <script>
      var myApp = angular.module('myApp', []);
    </script>
  </head>
  <body ng-app="myApp" id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
    <div class="container-fluid myContainer" ng-controller="indexController">
      <menu-nav></menu-nav>
      <header-app title="title" description="description" ng-click="redirectHome()"></header-app>

      <div class="row authorsDiv rowDiv greenShadowDiv" id="photographers">
        <br>
        <div class="col-md-8 col-centered">
          <h2>
            <strong>Meet The Guys Who Bring The Pics That You Love</strong><br><br>
            <i class="fa fa-thumbs-o-up fa-2x iconBlue"></i>
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <br><br>
        <div class="col-md-4 author" ng-style="{'background-image': 'url('+photographer.style+')'}"
        ng-repeat="photographer in photographers">
          <span class="spanLabel">{{photographer.name}}</span><br>
          <span class="spanLabel">{{photographer.from}}</span><br>
          <a href="{{photographer.fb}}" target="_blank"><i class="fa fa-facebook-square fa-lg spanLabel"></i></a>
          &nbsp;<span class="spanLabel">{{photographer.fbShort}}</span>
        </div>
      </div>
      <br>
      <div class="row recentPhoto rowDiv greenDiv" id="albums">
        <div class="col-md-6 col-centered iconBlue">
          <i class="fa fa-space-shuttle fa-5x"></i>
          <i class="fa fa-car fa-5x"></i>
          <i class="fa fa-bicycle fa-5x"></i>
          <i class="fa fa-train fa-5x"></i>
          <i class="fa fa-truck fa-5x"></i>
        </div>
        <div class="col-md-8 col-centered">
          <h1><strong>Look At What We Got Here</strong></h1>
          <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </h4>
        </div>
        <br>
        <div class="row col-centered tightBorder" ng-controller="albumsController">
          <div class="col-md-6 col-centered">
            <input ng-show="albums.length" type="text" class="form-control" placeholder="Search Album" ng-model="searchFilter">
            <p ng-show="!albums.length">No Albums Available <i class="fa fa-exclamation-circle"></i></p>
            <br>
          </div>

          <div class="col-md-6 albumContainer" ng-repeat="album in albums | filter: searchFilter">
            <div class="album" ng-style="{'background-image': 'url('+album.albumCover+')'}">
              <h2><strong><span>{{album.albumName}}&nbsp;</span><i class="fa fa-television"></i></strong></h2>
              <p>{{album.albumDescription}}</p>
              <p>{{album.albumLocation}}.&nbsp;{{album.albumDate | date}}</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <footer-app></footer-app>
    </div>

    <script src="js/controller/indexController.js"></script>
    <script src="js/directives/header.js"></script>
    <script src="js/directives/footer.js"></script>
    <script src="js/directives/menuNav.js"></script>
    <script src="js/services/photographers.js"></script>
  </body>
</html>
